body {
    padding: 1px;
    margin: auto;
    /* NIGAS */
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    justify-content: center;
    display: flex;
    text-align: center;
}

div {
    width: auto;
    height: auto;
    background-color: transparent;
    text-align: center;
    margin: auto;
    color: yellow;
    font-size: large;
    font-weight: 800;

}

.info ,
#img {
    width: 500px;
    height: 500px;
    background-color: rgba(101, 12, 91, 0.4);
    padding-top: 15%;
}

#img {
    padding-top: 150px;
}

.info > ul, .info > ol {
    list-style: upper-roman;
    padding: 0;
    margin: 0;
}