body {
    padding: 1px;
    margin: auto;
    /* NIGAS */
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    justify-content: center;
    display: flex;
}

div {
    width: auto;
    height: auto;
    background-color: transparent;
}